.mainDisplay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.videoFrame {
    max-height: 90vh;
    min-height: 90vh;
    width: 50%;
    float: left;
    position: static;
}

.video {
    max-height: 90vh;
    max-width: 90vw;
}

.JSONFrame {
    max-height: 90vh;
    min-height: 90vh;
    width: 50%;
    float: right;
    position: static;
}

.playerFrame {
    float: bottom;
}

.playerSlider {
    width: 100%;
}